body {
	background: #E6E6E6 ;
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666;
}
* {
	margin:0;
	padding:0;
}
/** element defaults **/
table {
	width: 100%;
	text-align: left;
}
th, td {
	padding: 10px 10px;
}
th {
	color: #fff;
	background: #1F4F82 none repeat-x scroll left top;
}
td {
	border-bottom: 1px solid #ccc;
}
code, blockquote {
	display: block;
	border-left: 5px solid #222;
	padding: 10px;
	margin-bottom: 20px;
}
code {
	background-color: #222;
	color:#ccc;
	border: none;
}
blockquote {
	border-left: 5px solid #222;
}
blockquote p {
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0;
	color: #333;
	height: 1%;
}
p {
	line-height: 1.9em;
	margin-bottom: 20px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}
a {
	color: #1F4F82;
}
a:hover {
	color: #D1700E;
}
a:focus {
	outline: none;
}
fieldset {
	display: block;
	border: none;
	border-top: 1px solid #ccc;
}
fieldset legend {
	font-weight: bold;
	font-size: 13px;
	padding-right: 10px;
	color: #333;
}
fieldset form {
	padding-top: 15px;
}
fieldset p label {
	float: left;
	width: 150px;
}
form input, form select, form textarea {
	padding: 5px;
	color: #333333;
	border: 1px solid #ddd;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background-color:#fff;
}
form input.formbutton {
	border: none;
	background: #333;
	color: #ffffff;
	font-weight: bold;
	padding: 5px 10px;
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
	letter-spacing: 1px;
	width: auto;
	overflow: visible;
}
form.searchform p {
	margin: 5px 0;
}
span.required {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ff0000;
}
h1 {
	color: #000;
	font-size: 35px;
}
h2 {
	color: #000;
	font-family: 'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
	font-size: 30px;
	letter-spacing: 0px;
	font-weight: normal;
	padding: 0 0 5px;
	margin: 0;
}
h3 {
	color: #555;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}
h4 {
	padding-bottom: 10px;
	font-size: 15px;
	color: #999;
}
h5 {
	padding-bottom: 10px;
	font-size: 13px;
	color: #999;
}
ul, ol {
	margin: 0 0 35px 35px;
}
li {
	padding-bottom: 5px;
}
li ol, li ul {
	font-size: 1.0em;
	margin-bottom: 0;
	padding-top: 5px;
}
#container {
	width: 960px;
	margin:0 auto;
	padding: 0;
}
#header {
	padding: 0;
	margin: 0px 0px 0px 150px;
	height: 170px;
}
#header h1  {
	padding-top: 40px;
}
#header h1 a {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #fff;
	font-size: 68px;
	font-weight: normal;
	text-decoration: none;
	letter-spacing: -5px;
	float: left;
}
#header h2 {
	color: black;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin-left: 12px;
	margin-top: 40px;
	padding-left: 4px;
	text-transform: uppercase;
	letter-spacing: 0;
}
#nav {
	height: 45px;
	width: 960px;
}
#nav ul {
	list-style: none;
	padding: 0;
	margin: 0px 0px 0px 100px;
	height: 45px;
}
#nav ul li {
	float: left;
	margin: 1px;
	display: block;
	padding: 15px 0px;
}
#nav ul li a {
	color: black;
	display: block;
	border-right: 1px solid #666;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
	padding: 0 20px;
	text-decoration: none;
}
#nav ul li a:hover {
	color: #fff;
	text-decoration: underline;
}
#body {
	background: none;
	margin:0 auto;
	padding: 25px 0;
	width: 960px;
}
#content {
	float: left;
	width: 600px;
	margin: 0;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-right-color: #c0c0c0;
	border-bottom-color: #c0c0c0;
}
.sidebar {
	width: 280px;
	padding: 0;
	float: right;
}
.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidebar ul li {
	margin-bottom: 20px;
	line-height: 1.9em;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-right-color: #c0c0c0;
	border-bottom-color: #c0c0c0;
}
.sidebar li ul li {
	display: block;
	border-top: none;
	padding: 6px 7px;
	margin: 0;
	line-height: 1.5em;
	font-size: 14px;
	border: none;
}
.sidebar li ul li a {
	font-weight: normal;
}
.sidebar li ul.blocklist li {
	padding: 0;
	display: inline;
}
.sidebar li ul.blocklist li a {
	display: block;
	padding: 7px 13px;
	background: transparent url('images/list-icon.jpg') no-repeat scroll left center;
	text-decoration: none;
}
.sidebar li ul.blocklist li a:hover {
	background-image: url('images/list-icon-hover.jpg');
}
.sidebar h4 {
	color: #222;
	font-family: 'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
	font-size: 19px;
	letter-spacing: 1px;
	margin: 0;
	padding: 5px 0px;
	border-bottom: 1px solid #ddd;
	font-weight: normal;
}
.clear {
	clear: both;
}
#footer {
	text-align: center;
	clear: both;
	margin:0 auto 60px;
	border-top: 10px solid #1A1A1A;
}
#footer p {
	color: #eee;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
#footer p a {
	color: #fff;
	font-weight: bold;
}
.footer-content {
	padding: 30px 5px 60px;
	background: #E6E6E6 url(images/bodybg.png) repeat-x scroll center center;
	border-top: 10px solid #262626;
}
#footer .footer-content p {
	text-align: center;
	color: #666;
	position: ;
	top: 12px;
	margin-left: 10px;
}
#solgan{
	color: black;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
#footer .footer-content p a {
	color: black;
}
#footer .footer-content p a:hover {
	color: #fff;
}
#footer .footer-content span.sitename {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 40px;
	font-weight: normal;
	letter-spacing: -2px;
	color: #fff;
	float: center;
}
.footer-width {
	width: 100%;
	margin: 0 auto;
}
#footer .footer-bottom {
	padding-top: 10px;
}
#footer .footer-bottom p, #footer .footer-bottom p a {
	color: black;
}
#inputform {
	margin: 0px 0px 0px 100px;

}
#infortable{
	width: 70%;
	padding: 0px 0px 0px 20px;
	
	float: left;

}
#formtable{
	width: 60%;
	font-family: new-times roman,Arial,Helvetica,sans-serif;
	font-size: 12px;
	color: black;
	
	text-align: left;
	padding: 15px
}


